@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

/* Variables */
:root {
  --dark-color: #0a171a;
  --dark-bg-color: #050b0d;
  --dark-mode-txt: #fff;
  --be-game-gradient: linear-gradient(45deg,#0da4b3, #a31780);
}

/* General */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, .container {
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  width: 100vw;
  min-height: 100vh;
  min-height: 100svh;
  color: var(--dark-mode-txt);
  background-color: var(--dark-bg-color);
}

.container {
  display: flex;
  flex-direction: column;
}

h1, h2, h3,
h4, h5, h6 {
  font-weight: 600;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: #0da4b3;
}


/* Navigation */

header {
  background-color: var(--dark-color);
  width: 100%;
  height: 80px;
  padding: 16px 32px;
  position: sticky;
  top: 0;
  box-shadow: 0px 4px 4px #050b0d4b;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.top-bar-container {
  width: 1080px;
  display: flex;
  align-items: center;
}

img.logo {
  width: 250px;
  opacity: 1;
}

img.logo:hover {
  opacity: 0.8;
  transition: all 2ms ease-in-out;
}

nav {
  margin-left: auto;
  display: flex;
  gap: 2rem;
}

nav a {
  display: inline-block;
  color: var(--dark-mode-txt);
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.9rem;
  padding: 1rem 0;
}

nav a:hover {
  font-weight: 600;
  transition: all 5ms ease-in-out;
}

a.toggle {
  display: none;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  width: 1080px;
  padding: 5rem 0;
}

/* Buttons */

.btn {
  display: inline-block;
  padding: 0.5rem 2rem;
  color: #fff;
  border-radius: 4px;
  text-transform: uppercase;
  transition: all 250ms ease-in-out;
  text-align: center;
  box-shadow: 0 0 5px #050b0d3d;
}

.primary-link {
  background-image: var(--be-game-gradient);
}

.primary-link:hover {
  background-image: linear-gradient(45deg,#a31780, #0da4b3);
  padding: 0.5rem 3rem;
}

.secondary-link {
  background-color: #ffffff4b;
  border: 1px solid #fff;

}

.secondary-link:hover {
  background-color: #fff;
  color: var(--dark-bg-color);
  padding: 0.5rem 3rem;
  text-shadow: none;
}


/* Main content */

section.featured-content {
  height: 700px;
  display: flex;
  justify-content: flex-end;
  background-image: url(../img/God-of-War-Ragnarok-Sequel.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

section.featured-content::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 700px;
  background-image: linear-gradient(45deg,#a3178080, #0da5b356);
  mix-blend-mode: color;
}

.featured-text {
  position: relative;
  z-index: 1;
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
  text-shadow: 0 0 5px #050b0da9;
  background-color: #0000006b;
  border-radius: 4px;
  text-align: center;
}

.feat-text {
  width: 75%;
  margin: 0 auto;
  font-weight: 400;
  line-height: 1.5rem;
}

h1.feat-title {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.feat-links {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

section.characteristics {
  background-color: var(--dark-color);
  box-shadow: 5px 5px 5px #050b0d;
}

.section-title {
  font-size: 1.7rem;
  text-align: center;
}

.features-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-top: 3rem;
  gap: 1rem;
}

.game-features {
  width: 250px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.game-features-img {
  width: 130px;
}

p.game-quote {
  width: 70%;
  min-width: 300px;
  margin: 0 auto;
  padding: 3rem 0 2rem;
  font-size: 2rem;
  font-style: italic;
  text-align: center;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.char-quote {
  display: block;
  font-size: 1rem;
  font-weight: 600;
  font-style: normal;
  margin-top: 1.5rem;
}

.cta-container {
  width: 80%;
  margin: 0 auto;
  padding: 3rem;
  background-image: var(--be-game-gradient);
  border-radius: 4px;
  box-shadow: 10px 10px 10px #050b0d;
}

.cta-text {
  width: 70%;
  margin: 0.5rem 0 1.5rem;
}

.cta .row {
  padding: 0 0 5rem;
}

/* Footer */

footer {
  background-color: var(--dark-color);
  height: 80px;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px -5px 5px #050b0d;
}



/* Media queries */
@media screen and (max-width: 1080px) {
  .top-bar-container, .row {
    width: 100%;
  }
}

@media screen and (max-width: 768px) { 
  nav.main-menu {
    flex-direction: column;
    display: none;
  }

  a.toggle {
    display: initial;
    margin-left: auto;
    cursor: pointer;
  }

  nav.nav-toggle-show {
    display: flex;
    gap: 0;
    position: absolute;
    top: 80px;
    left: 0;
    background-color: var(--dark-bg-color);
    width: 100%;
  }

  nav.nav-toggle-show .nav-links {
    border-bottom: 1px solid var(--dark-color);
    padding: 1rem 2rem;
  }

  img.logo {
    width: 200px;
  }

  section.featured-content {
    justify-content: flex-end;
  }

  .featured-text {
    margin: 0 auto;
    padding: 2rem;
  }
  
  .featured-text, .feat-text {
    width: 80%;
  }

  p.game-quote {
    padding: 3rem 1 2rem;
    font-size: 1.5rem;
  }

  .cta-text {
    width: 100%;
    margin: 0.5rem 0 1.5rem;
  }
}

@media screen and (max-width: 480px) {

  section.featured-content {
    height: 100vh;
    background-position: -420px;
  }


  section.featured-content::before {
    height: 100vh;
  }

  .feat-links {
    flex-direction: column;
  }
}